#*
*~
.DS_Store
dist
node_modules
deno.lock
src/dastemplate.js
src/dasmaker.js
src/episodas.js
src/jquery-old.js
src/*.coffee
src/main.js
src/lib.js
src/easy.js
src/episodb.js
src/md5.js
package-lock.json
test-jest/package.json
test-jest/yarn.lock
test/package.json
test/yarn.lock
test/cypress/fixtures
test/cypress/support
test/cypress/videos
test/cypress.json
test/cypress/plugins
